@model FinalProject.Service.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row border rounded px-5">
        <div class="col-md-3 text-md-start text-center py-5">
            <img src="@Html.DisplayFor(model => model.Image)" class="img-fluid" alt="Product image" style="height: 250px; object-fit: scale-down;">
        </div>
        <div class="col-md-9 py-5">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <p><strong>Category:</strong> @Html.DisplayFor(model => model.Category)</p>
            <p><strong>Description:</strong> @Html.DisplayFor(model => model.Description)</p>
            <p><strong>Price:</strong> @Html.DisplayFor(model => model.Price) $</p>
            <p><strong>Rating:</strong> @Html.DisplayFor(model => model.Rating) / 5</p>
            <p><strong>Count:</strong> @Html.DisplayFor(model => model.Count)</p>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
