@model IEnumerable<FinalProject.Service.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Identity
@using FinalProject.Service.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool isAd = false;
    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        isAd = await UserManager.IsInRoleAsync(user, "Admin");
    }
}

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
    <div class="col-xl-3 col-lg-4 col-md-6 col-12">
        <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; color: inherit;">
                <div class="card m-2" style="height: 420px;">
                    <img src="@Html.DisplayFor(modelItem => item.Image)" class="card-img-top p-3" alt="@Html.DisplayFor(modelItem => item.Title)" style="height: 250px; object-fit: scale-down;">
                <div class="card-body">
                    <h6 class="card-title" style="height: 50px;">@Html.DisplayFor(modelItem => item.Title)</h6>
                    <div class="mb-2">
                        <p class="card-text mb-0"><small class="text-muted">@Html.DisplayFor(modelItem => item.Category)</small></p>
                    </div>
                    <div class="row">
                        <div id="rateYo_@item.Id" class="ms-1"></div>
                        <div class="">
                            <p class="card-text"><strong>@Html.DisplayFor(modelItem => item.Price) TL</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    }
</div>

@section Scripts {
    <script>
        $(function () {
        @foreach (var item in Model)
        {
            <text>
                    $("#rateYo_@item.Id").rateYo({
                        rating: @Html.DisplayFor(modelItem => item.Rating),
                        starWidth: "15px",
                        ratedFill: "#f5994b",
                        readOnly: true
                    });
            </text>
        }
                });
    </script>
}

@if (isAd)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}