@model IEnumerable<FinalProject.Service.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none; color: inherit;">
                <div class="card m-2">
                    <img src="@Html.DisplayFor(modelItem => item.Image)" class="card-img-top p-3" alt="..." style="height: 250px; object-fit: scale-down;">
                    <div class="card-body">
                        <h6 class="card-title" style="height: 60px;">@Html.DisplayFor(modelItem => item.Title)</h6>
                        <div class="row">
                            <div>
                                <p class="card-text mb-0"><small class="text-muted">@Html.DisplayFor(modelItem => item.Category)</small></p>
                                <p class="card-text"><small class="text-muted">Rating: @Html.DisplayFor(modelItem => item.Rating) / 5</small></p>
                            </div>
                            <div class="">
                                <p class="card-text"><strong>@Html.DisplayFor(modelItem => item.Price) $</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
