@model FinalProject.Service.Models.CartViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<FinalProject.Service.Models.ApplicationUser> SignInManager


<div class="row mb-3 py-4">
    <div class="col-md-5 d-flex justify-content-center" style="position: relative;">
        <img src="@Model.Product.Image" alt="@Model.Product.Title" style="width: 300px; height: 300px; object-fit: contain;">
        <form method="post" asp-controller="Favorites" asp-action="ToggleFavorite" asp-route-productId="@Model.Product.Id" style="position: absolute; top: 10px; right: 30px;">
            <button type="submit" class="btn btn-sm btn-outline-danger rounded-circle">
                @if (SignInManager.IsSignedIn(User))
                {
                    var isFavorite = Model.Product.Favorites.Any(f => f.ApplicationUserId == User.FindFirstValue(ClaimTypes.NameIdentifier));
                    if (isFavorite)
                    {
                        <i class="fas fa-heart"></i>
                    }
                    else
                    {
                        <i class="far fa-heart"></i>
                    }
                }
                else
                {
                    <i class="far fa-heart"></i>
                }
            </button>
        </form>
    </div>
    <div class="col-md-7">
        <h5 class="card-title">@Model.Product.Title</h5>
        <p class="card-text">@Model.Product.Description</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="DecreaseQuantity" asp-route-productId="@Model.Product.Id">-</a>
                <button type="button" class="btn btn-sm btn-outline-secondary text-black" disabled>@Model.Quantity</button>
                <a type="button" class="btn btn-sm btn-outline-secondary" asp-action="IncreaseQuantity" asp-route-productId="@Model.Product.Id">+</a>
            </div>
            <button type="button" class="btn btn-sm btn-outline-danger px-3" data-bs-toggle="modal" data-bs-target="#exampleModal-@Model.Product.Id">Sil</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal-@Model.Product.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-11" id="exampleModalLabel">Ürün Sepetinizden Silinsin Mi?</h5>
                <button type="button" class="btn-close col-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <a type="button" class="btn btn-danger px-4" asp-action="Delete" asp-route-productId="@Model.Product.Id">Sil</a>
            </div>
        </div>
    </div>
</div>