<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProject.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/5f773bc09b.js" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="col-lg-3 d-flex ">
                    <partial name="_LogoPartial" />
                    <partial name="_ProductsAndUsers" />
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-lg-9" id="navbarNav">
                    <partial name="_SearchBox"/>
                    <partial name="_RightMenu" />
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-top border-bottom">
            <partial name="_CategoryPartial" />
        </nav>
    </header>
    <div class="container-lg container-fluid mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scrollSamePlace.js" asp-append-version="true"></script>
    <script src="~/js/layout.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            if ('@TempData["success"]' !== '') {
                toastr.options.closeButton = true;
                toastr.success('@TempData["success"]');
            }
            else if ('@TempData["error"]' !== '') {
                toastr.options.closeButton = true;
                toastr.error('@TempData["error"]');
            }
            else if ('@TempData["warning"]' !== '') {
                toastr.options.closeButton = true;
                toastr.warning('@TempData["warning"]');
            }
            else if ('@TempData["info"]' !== '') {
                toastr.options.closeButton = true;
                toastr.info('@TempData["info"]');
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    

</body>
</html>
